<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<style>

		header {
			margin: auto;
			text-align: center;
		}
		
		a {
			text-transform: uppercase;
			text-decoration: none;
			font-weight: bold;
			color: magenta;
		}

		h1 {
			color: red;
			font-family: "Century Gothic";
			font-weight: bolder;
			font-size: 36px;
		}
	</style>
	
</head>
<body>

	<header th:fragment="header">
		<nav class="flex">
			<h1>Rednit</h1>
			<div class="flex">
				<a href="./create">Create</a>
				<a href="./login">Login</a>
				<a href="./admin">Admin</a>
				<a href="./myProfile">My Profile</a>
				<a href="./matches">matches</a>
				<a href="./explore">Explore</a>
			</div>
		</nav>
	</header>

</body>
</html>
