<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=David+Libre&family=Montserrat&family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin</title>



    <style>
        .fitText{
            width: fit-content;
            text-align: center;
        }

        .place-holer-main-image {
            width: 250px;
            height: 350px;
            background: #f3f3f3;
        }

        #wrapper {
            width: 70%;
            margin: 0 auto;
        }


    </style>

</head>

<body>

<!-- Dette må ikke fjernes, det er fragments til headeren -->
<div th:insert="Fragments/header :: header"></div>

<form  action="/postAdmin" method="post" name="firstform">
    <div class="col" style="text-align: left">


        <div>
            <label>
            <select class="form-control"  id="userInfo" name="firstname" style="width: fit-content">
                <option id="option" value="0">Vælg bruger:</option>
                <option
                        th:each="user : ${users}"
                        th:value="${user.getFirstName()}"
                        th:text="${user.getFirstName()}">
                </option>
            </select>
            <br>

            <input type="submit" value="Se info">
            </label>
        </div>

    </div>


            <div style="text-align: center" id="wrapper">

                <div style="display: inline-block; vertical-align: top;">
                    <label class="fitText">
                        <input th:value="${userToDisplay.getFirstName()}" placeholder="Firstname" id="firstname"><br><br>
                        <input th:value="${userToDisplay.getLastName()}" placeholder="Lastname" id="lastname"><br><br>
                        <input th:value="${userToDisplay.getEmail()}" placeholder="Email" id="email"><br><br>
                        <input th:value="${#dates.format(userToDisplay.getDateOfBirth(), 'yyyy')}" placeholder="Årstal" id="age"><br><br>
                        <input style="height: 136px" th:value="${userToDisplay.getBio()}" id="bio"><br><br>

   <!-- Indsæt form til at håndtere sletning af bruger -->

                    </label>

                </div>

                <div style="display: inline-block; vertical-align: top; margin-left: 50px">

                    <div class="place-holer-main-image">

                    </div>


                </div>


            </div>
</form>

<form action="/adminDeleteUser" method="post" id="deleteBlacklist">
    <div  style="text-align: center" class="wrapper">
        <div style="display: inline-block; vertical-align: top;">

    <input type="submit" value="Slet bruger" id="deleteUser" name="deleteUser">
    <br>
    <br>
    <input type="submit" value="Blacklist bruger" id="blacklistUser" name="blacklistUser">
        </div>
    </div>
</form>

<form action="/adminDeleteUser" method="post">
    <input type="submit" value="Slet billede" name="deletePhoto" id="deletePhoto">
</form>



</body>
</html>
