<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>

<form>
    <label>Brugernavne</label>
    <br>
    <div class="form-group blu-margin">
        <select class="form-control" >
            <option value="0">Vælg bruger:</option>
            <option th:each="user : ${users}"
                    th:value="${user.firstName}"
                    th:text="${user.firstName}">
            </option>
        </select>
    </div>
</form>

</body>
</html>