<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=David+Libre&family=Montserrat&family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>login</title>
<style>
    .emaildiv{
        width: 60px;
        height: 30px;

    }
</style>
</head>
<body>

<p><b>Indtast dine login oplysninger</b></p>

<div class="col" align="center">
    <div class="emaildiv">
        <div id="form-container">
            <form id="registration-container" action="/index" method="post">
                <label for="email" style="text-align: center"> Email
                </label>
                <input type="text" id="email" name="email" style="text-align: center">
                <span th:text="${}"
            </form>
        </div>
    </div>
</div>



</body>
</html>