<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=David+Libre&family=Montserrat&family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>login</title>

<style>
    .userInfoDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 50vh;
        width: 400px;
        height: 100px;

    }

    .forgottenPassword{
        font-size: 12px;
    }

    .contactform1:hover{
        /*Manglende style?*/
        font-style: ;
    }
</style>
</head>
<body>

<!-- Dette må ikke fjernes, det er fragments til headeren -->
<div th:insert="Fragments/header :: header"></div>

<div class="col" align="center" >

<div class="userInfoDiv">
        <div id="form-container">
            <form id="login-container" action="/postLogin" method="post">
                <label style="text-align: center"><b>Login</b></label><br><br>

                <input name="email" type="email" id="email"  placeholder="email" style="text-align: center"><br><br>
                <input name="password" type="password" id="password"  placeholder="password" style="text-align: center">

                <div class="forgottenPassword">
                    Glemt password?
                </div>
                <br>
                <input type="submit" id="login" value="login" style="text-align: center">
            </form>
            </div>
        </div>
</div>





<!-- TODO: Alternativ til 5 <br> tags i træk? -->
<br><br><br><br><br>

<p align="center"><b>Lav ny bruger:</b></p>
<div class="col" align="center" >
    <div class="emaildiv">
        <div id="form2-container">
            <form id="registration-container" action="/index" method="post">
                <input type="button" id="createProfile" value="Lav ny profil" style="text-align: center">
            </form>
        </div>
    </div>
</div>


</body>
</html>
