<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=David+Libre&family=Montserrat&family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>MyPRofil</title>
	<style>
		.flex {
			display: flex;
		}
		
		#wrapper {
			width: 750px;
			margin: 0 auto;
		}
		
		.reverse-flex {
			display: flex;
			flex-direction: column;
		}
		
		.place-holer-main-image {
			width: 250px;
			height: 350px;
			background: #f3f3f3;
		}
		
		
		.small-placeholder-img {
			width: 75px;
			height: 100px;
			background: #e2e2e2;
			margin: 15px;
		}
		
	</style>
</head>
<body>

<!-- Dette må ikke fjernes, det er fragments til headeren -->
<div th:insert="Fragments/header :: header"></div>

<div id="wrapper" class="flex">
	<div class="container reverse-flex" >
		<input type="text" name="name" id="name" th:placeholder="${user.getFirstName()}">
		<input type="text" name="age" id="age" >
		<textarea name="bio" autofocus="autofocus" maxlength="250" id="update-user-settings" cols="30" rows="10" placeholder="Det her er en placeholder text. Vi burde nok læse mere om textareas under w3Schools: https://www.w3schools.com/tags/tag_textarea.asp.  Fordi her står der noget omkring form generelt."></textarea>
	</div>
	
	
	<div class="container" >
		
		<div class="place-holer-main-image"></div>
		
		<div class="flex">
			<button>Gem</button>
			<button>Upload billede</button>
		</div>
		
		
		
	</div>
	
	<div class="container">
		<div class="small-placeholder-img">1</div>
		<div class="small-placeholder-img">2</div>
		<div class="small-placeholder-img">3</div>
	</div>
</div>


</body>
</html>
