<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=David+Libre&family=Montserrat&family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
	
	<title>MyProfil</title>
	<style>

		.custom-flex {
			display: flex;
		}
		
		#wrapper {
			width: 750px;
			margin: 0 auto;
		}
		
		.reverse-flex {
			display: flex;
			flex-direction: column;
		}
		
		.main-image {
			width: 250px;
			height: 350px;
			
		}
		.main-image img {
			width: 100%;
			height: auto;
		}
		

	</style>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<!-- Dette må ikke fjernes, det er fragments til headeren -->
<div th:insert="Fragments/header :: header"></div>

<div id="wrapper" class="custom-flex">
	<form class="container reverse-flex" action="/myProfilePost" method="post"  >
		<label for="name">Navn:</label>
		<input type="text" name="name" id="name" th:value="${user.getFirstName()}">
		<label for="lastName">Efternavn:</label>
		<input type="text" name="lastName" id="lastName" th:value="${user.getLastName()}">

		<label for="age">Alder:</label>
		<input type="text" name="age" id="age" th:value="${user.getDateOfBirth()}">
		<label for="password">Nyt password:</label>
		<input type="password" name="password" id="password" >
		
		<label for="passwordTwo">Gentag dit password:</label>
		<input type="password" name="passwordTwo" id="passwordTwo">
		<label for="bio">Beskrivelse:</label>
		<textarea name="bio" maxlength="250" id="bio" cols="30" rows="10" th:text="${user.getBio()}"></textarea>
		<input type="submit" id="save" name="save" value="Updatere personlig info">
	</form>

	<form action="/imageFile" method="post" enctype="multipart/form-data">
		<input type="file" name="imageFile" id="iamgeFile">
		<input type="submit" value="Upload billede" name="imageUpload" id="imageUpload">
	</form>
	
	<div class="container" >
		<div class="main-image">
			<img th:src="${user.getPhoto1()}">
		</div>
	</div>
	
</div>


</body>
</html>
